<mat-toolbar class="mat-elevation-z4 toolbar" color="primary">
  <button mat-icon-button routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>Orbit</h1>
</mat-toolbar>
<div class="container">
  <form
    #form="ngForm"
    (submit)="
      onSubmit(
        id.value,
        mnemonic.value,
        coinType.value,
        account.value,
        change.value,
        addressIndex.value,
        signatureType.value,
        password.value
      )
    "
  >
    <mat-form-field fxFill>
      <mat-label>ID</mat-label>
      <input
        #id
        matInput
        ngModel
        name="id"
        required
        pattern="^[a-z_][a-z_0-9]*$"
      />
      <mat-error>^[a-z_][a-z_0-9]*$</mat-error>
    </mat-form-field>
    <mat-form-field fxFill>
      <mat-label>Mnemonic</mat-label>
      <textarea
        #mnemonic="ngModel"
        matInput
        rows="3"
        style="resize: none;"
        ngModel
        name="mnemonic"
        required
        pattern="^[a-z\s]+$"
      ></textarea>
      <button
        mat-button
        matSuffix
        type="button"
        color="accent"
        (click)="onClickGenerateMnemonic(mnemonic)"
      >
        <mat-icon>autorenew</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field fxFill>
      <mat-label>Coin Type</mat-label>
      <mat-select
        #coinType
        name="coin-type"
        ngModel
        required
        (selectionChange)="onChangeCoinType(coinType.value)"
      >
        <ng-container *ngFor="let type of coinTypes">
          <mat-option [value]="type">{{ getCoinTypeString(type) }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFill>
      <mat-label>Signature Type</mat-label>
      <mat-select #signatureType ngModel name="signature-type" required>
        <ng-container *ngFor="let type of signatureTypes">
          <mat-option [value]="type">{{ type }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFill>
      <mat-label>Password (Optional)</mat-label>
      <input
        #password
        matInput
        type="{{ isPasswordVisible ? 'text' : 'password' }}"
        ngModel
        name="password"
      />
      <button
        mat-button
        matSuffix
        type="button"
        (mousedown)="isPasswordVisible = true"
        (mouseup)="isPasswordVisible = false"
      >
        <mat-icon>visibility</mat-icon>
      </button>
    </mat-form-field>
    <button mat-stroked-button fxFill color="accent" [disabled]="form.invalid">
      Add Private Key
    </button>
    <br />
    <br />
    <mat-expansion-panel>
      <mat-expansion-panel-header>Advanced</mat-expansion-panel-header>
      <mat-form-field fxFill>
        <mat-label>Account</mat-label>
        <input
          #account
          matInput
          type="number"
          [ngModel]="0"
          name="account"
          required
          [min]="0"
          pattern="^\d+$"
        />
      </mat-form-field>
      <mat-form-field fxFill>
        <mat-label>Change</mat-label>
        <mat-select #change [value]="0" [ngModel]="0" name="change" required>
          <mat-option [value]="0">{{ getChangeString(0) }}</mat-option>
          <mat-option [value]="1">{{ getChangeString(1) }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFill>
        <mat-label>Address Index</mat-label>
        <input
          #addressIndex
          matInput
          type="number"
          [ngModel]="0"
          name="address-index"
          required
          [min]="0"
          pattern="^\d+$"
        />
      </mat-form-field>
    </mat-expansion-panel>
  </form>
</div>
