<ng-container *ngIf="keys$ | async as keys">
  <div fxLayout="row">
    <span class="fill-remaining-space"></span>
    <button mat-icon-button color="accent" routerLink="/keys/add">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="keys?.length > 0; else empty">
    <mat-nav-list>
      <ng-container *ngFor="let key of keys">
        <mat-list-item routerLink="/keys/{{ key.id }}">
          <div
            mat-list-icon
            [ngClass]="{ backgroundColor: getColorCode(key) }"
          ></div>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </ng-container>
  <ng-template #empty>
    <p class="empty">There is no key.</p>
  </ng-template>
</ng-container>
